body {
  margin: 0px;
  padding: 0px;
  background-image: url(wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
}

.logo {
  position: absolute;
  left: 25px;
}

.logo img {
  height: 100px;
}

.navigation {
  display: flex;
}

.navigation a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.logo:hover {
  transition: all 0.5s ease-out;
  border: 2px solid white;
  border-radius: 12px;
  cursor: pointer;
}

.container {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  /* background-color: /yellow; */
  justify-content: center;
  align-items: center;
  height: 122px;
}

.box {
  margin: 15px;
  display: flex;
  color: white;
  font-size: 20px;
  border: 1px solid black;
  background-color: black;
  height: 60px;
  width: 140px;
  justify-content: center;
  align-items: center;
  transition: all 0.31s ease-in-out;
  border-radius: 5px;
}

.box:hover {
  background-color: rgb(62, 63, 63);
  border-radius: 10px;
  border: 1.8px solid black;
  transform: scale(1.09);
  cursor: pointer;
}

.contacts {
  align-items: center;
  position: absolute;
  display: flex;
  right: 9px;
  margin: 10px;
  filter: invert();
}

.contacts img:hover {
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}

.facebook img {
  margin: 8px;
  height: 47px;
  cursor: pointer;
}

.youtube img {
  margin: 8px;
  height: 57px;
  cursor: pointer;
}

.instagram img {
  margin: 8px;
  height: 60px;
  cursor: pointer;
}

.whatsapp img {
  margin: 8px;
  height: 50px;
  cursor: pointer;
}

.heading {
  font-family: "Libre Baskerville", serif;
  position: relative;
  /* font-weight: bold; */
  font-size: 30px;
  top: 150px;
  text-align: center;
  height: 100px;
  color: rgb(236, 215, 215);
}

.heading h1:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #d5b8b8;
}
