* {
  margin: 0;
  padding: 0;
}

.intro {
  display: block;
}

.intro::before {
  background: url(background2.jpg) center center/cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 74.31%;
  width: 100%;
  z-index: -2;
}

.logo {
  position: absolute;
  left: 10px;
  margin: 10px 10px 10px 20px;
  z-index: 0;
}

.logo img {
  padding: 3px;
  height: 110px;
  filter: invert();
}
.logo:hover {
  cursor: pointer;
  border: 2px solid rgb(225, 214, 214);
  transition: all 0.1s ease-in;
}

/* navigation bar styling */

.navbar {
  /* border: 1`px solid white; */
  position: relative;
  height: 135px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navbar ul li {
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.navbar ul li a {
  display: block;
  height: 30px;
  /* background-color: white; */
  color: white;
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.List {
  display: flex;
  margin: 20px;
}

.h1-main {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  color: rgb(234, 223, 223);
  height: 400px;
}
.h1-main ::before {
  content: "";
  /* background-image: url(background.jpg); */
  position: absolute;
  /* height: 100%; */
  /* width: 100%; */
  z-index: 0;
  opacity: 1;
}

.h1-main h1 {
  display: inline;
  margin: 12px;
  font-size: 4rem;
}

.h1-main p {
  margin: 12px;
  font-size: 25px;
  text-align: center;
}

.h1-main a button {
  border-radius: 10px;
  background-color: white;
  width: 120px;
  height: 50px;
  font-size: 15px;
  margin-top: 13px;
}

.h1-main a button:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}
